@import "_reset.scss";
@import "_mixin.scss";
@import "_font.scss";

body {
    // background: #fbcd3c;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10px;
    @media only screen and (min-width: 1024px) {
        font-size: 10px;
    }
    @media only screen and (min-width: 1600px) {
        font-size: 10px;
    }

    &.no_scroll {
        overflow: hidden;
    }

    #root {
        background: white;
    }
}

.container {
    width: 96%;
    max-width: 1170px;
    margin: 0 auto;
    // background: #ff00004f;
    @media screen and (min-width: 1440px) {
        width: 100%;
    }

    img {
        max-width: 100%;
    }
}

* {
    box-sizing: border-box;
}
