@import "lib/_reset.scss";
@import "lib/_mixin.scss";
@import "lib/_font.scss";
@import "layout/details.scss";
@import "layout/gallery.scss";



body {
    // background: #fbcd3c;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10px;
    @media only screen and (min-width: 1024px) {
        font-size: 10px;
    }
    @media only screen and (min-width: 1600px) {
        font-size: 10px;
    }

    &.no_scroll {
        overflow: hidden;
    }

    #root {
        background: white;
    }
}

.container {
    width: 96%;
    max-width: 1170px;
    margin: 0 auto;
    // background: #ff00004f;
    @media screen and (min-width: 1440px) {
        width: 100%;
    }

    img {
        max-width: 100%;
    }
}

* {
    box-sizing: border-box;
}


#loader {
    position: fixed;
    top: 0;
    left: 0;
    background: $peter-river;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
        position: relative;
        margin: 0 auto;
        border: 5px solid $clouds;
        width: 100px;
        height: 60px;
    }

    .loader__page {
        position: absolute;
        left: 50%;
        top: -5px;
        margin: 0 auto;
        border-top: 5px solid $clouds;
        border-bottom: 5px solid $clouds;
        border-right: 5px solid $clouds;
        background: $peter-river;
        width: 50px;
        height: 60px;
        transform-origin: 0 50%;
        animation: flip .8s infinite linear;
        animation-fill-mode: forwards;
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                z-index: -$i;
                animation-delay: .3s*$i;
            }
        }
    }
    @keyframes flip {
        0% {
            transform: perspective(600px) rotateY(-0deg);
        }

        20% {
            background: darken($peter-river,10%);
        }

        29.9% {
            background: darken($peter-river,10%);
        }

        30% {
            transform: perspective(200px) rotateY(-90deg);
            background: $peter-river;
        }

        54.999% {
            opacity: 1;
        }

        55% {
            opacity: 0;
        }

        60% {
            transform: perspective(200px) rotateY(-180deg);
            background: $peter-river;
        }

        100% {
            transform: perspective(200px) rotateY(-180deg);
            background: $peter-river;
        }
    }
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, .8);
    display: none;

    &.show {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .img_container {
        position: relative;

        .close {
            position: absolute;
            color: white;
            cursor: pointer;
            font-size: 20px;
            // @include flFont(20px, 40px, 320px, 1920px);
            top: 15px;
            right: 15px;
            background: #585858;
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 26px;
            border-radius: 50%;
            // @include flProperty("top", 10px, 30px);
            // @include flProperty("right", 10px, 30px);
        }
    }
    @media (max-width: 1023px) and (orientation: landscape) {
        .img_container {
            height: 90vh;

            .close {
                // top: 15px;
            }
        }

        img {
            height: 100%;
        }

        &.width {
            .img_container {
                height: auto;
                width: 90vw;

                img {
                    height: auto;
                    width: 100%;
                }

                .close {
                    top: 15px;
                    right: 15px;
                    // @include flProperty("right", 10px, 30px);
                    // @include flProperty("top", 10px, 30px);
                }
            }
        }
    }
    @media (max-width: 1023px) and (orientation: portrait) {
        .img_container {
            width: 90vw;

            .close {
                // right: 15px;
            }
        }

        img {
            width: 100%;
        }
    }
    @media (min-width: 1024px) {
        img {
            max-width: 90vw;
            max-height: 90vh;
        }
    }
}
